*.log
*.pot
*.pyc
__pycache__
.db.sqlite3
media
.my_env
/my_env/
**/migrations/
/cars_showrooms/migrations/
/accounts/migrations/
/accounts/migrations/__pycache__/
/products/migrations/
/products/migrations/__pycache__/
.Pipfile.lock
.Pipfile
Pipfile
Pipfile.lock
/media
db.sqlite3
env/
venv/

/staticfiles
/uploads